body {
    margin: 0;
    font-family: 'Montserrat' , sans-serif;
    color: #333333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
} 

/* Container */

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}



/* Header */
.header {
    width: 100%;
    z-index: 10;
    padding-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

/* Header Entrance */

.header__entrance {
    font-size: 14px;
    color: #ffffff;
    margin-right: -15px;
}

.entrance__link {
    color: #ffffff;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
}
.entrance__link__sign-up {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px 20px 8px 15px;
    border-radius: 20px;
}



/* Intro */

.intro {
    background: url("./images/intro.jpg");
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
    text-align: center;
    margin-top: 136px;
    margin-bottom: 235px;
    margin-left: 20px;
    /* 163 */
}

.intro__title {
    color: #ffffff;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}

.intro__title__below {
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;

}

/* Intro brn */
.intro__title__btn {
    margin-top: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 23px 12px 23px;
    background-color: #ff4e50;
    border-radius: 21px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 234px;
}




